body { 
    height: 100vh;
    margin: 0; 
    padding: 0;
    /*background: radial-gradient(circle, #73cddd, #4195da);*/
    background: radial-gradient(circle at 100%, #85dbeb, #4195da, #458e9b);
    color: white; 
    font-family: 'Courier New', monospace;
}

.left-space {
    position: fixed;
    width: 22vw;
    height: 50vh;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10%;
    text-align: center;
    font-size: 0.9vw;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.bubble-container{
    position: relative;
    width: 600px;   
    height: 600px;  
    left: 50%;          
    top: 38%;
    transform: translate(-50%,-38%);    
    border-radius: 50%;   
}

.category-bubble {
    position: absolute;
    width: 90px;    
    height: 90px;   
    background: rgb(14, 67, 211);
    border-radius: 50%;   
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.center-space {
    position: absolute;
    width: 400px;   
    height: 400px;  
    border-radius: 30%;  
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    background: radial-gradient(circle, #22db22 40%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

.bottom-space {
    position: absolute;
    bottom: 1vw;
    width: 90%;         
    text-align: center;
    left: 5%;          
}

input {
    width: 80%;
    border: 3px solid transparent;
    border-top: none;
    border-image-source: radial-gradient(circle, #3084ca 2%, transparent 90%);
    border-image-slice: 30;
    background: transparent;
    outline: none;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 24px;
    font-family: 'Courier New', monospace;

}

input::placeholder
{
    color: rgb(255, 255, 255, 0.5);
}

.mic_button {
    width: 7vw;
    font-size: 1vw;
    background: rgba(55, 134, 199, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    color: white;
    padding: 4px;
    font-family: 'Courier New', monospace;
}

.send_button {
    width: 5vw;
    font-size: 1vw;
    background: rgba(55, 134, 199, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    color: white;
    padding: 4px;
    font-family: 'Courier New', monospace;
}

.logo-img {
    width: 50%;
    object-fit: cover; /* Zapewnia, że obrazek dobrze wypełnia okrąg */
}

.bubble-img {
    width: 80px;  /* Dostosuj rozmiar */
    height: 80px;
    border-radius: 50%; /* Sprawia, że obrazek jest okrągły */
    object-fit: cover; /* Zapewnia, że obrazek dobrze wypełnia okrąg */
    border: 2px solid #ddd; /* Lekka ramka */
}